@model CreateTestimonialDto

@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Customer Comment Operations</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Create New Customer's Comment</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Name">Name%Surname</label>
                                <input type="text" class="form-control" asp-for="Name" id="Name">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Customer Title </label>
                                <input type="text" class="form-control" asp-for="Title" id="Title">
                            </div>
                        </div>
                         <div class="card-body">
                            <div class="form-group">
                                <label for="ImageUrl">Customer Image Url</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Comment">Customer Comment</label>
                                <input type="text" class="form-control" asp-for="Comment" id="Comment">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary"> Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
